:root {
  --color-pink: #ff3998;
  --color-grey: #8b8b8b;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* ===================================
FROM 320 PX MOBILE S
=================================== */

/* ================================
HEADER
================================ */

header {
  padding: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img {
  width: 50%;
}

/* ===================================================
TOP DIV
=================================================== */

#top {
  background-image: url(./assets/graphic.svg);
  background-size: contain;
  /* position kartu su size kitaip neatitaikiau kad atrodytu pixelis i pixelio 320px width */
  background-position: right -154px top -5px;
  background-repeat: no-repeat;
}

/* SITA LIUX ATITAIKIAU ANT 320px */

#top-content {
  padding: 20% 30% 20% 7%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#top-content span {
  color: var(--color-pink);
  font-size: 13px;
  font-weight: 700;
}

#top-content p {
  color: var(--color-grey);
}

#top-content button {
  width: 130px;
  height: 50px;
  color: black;
  font-size: 15px;
  font-weight: 600;
  background-color: #ffffff;
  border: solid 3px transparent;
  border-radius: 25px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #ff3998, #ff3939, #ff8139);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* ======================================================
MIDDLE DIV
====================================================== */

#free {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 15px;
  padding: 7%;
  background-image: url(./assets/background.svg);
  background-size: cover;
  background-position: 20%;
}

/* ==========================================================
ICON DIV
=========================================================== */

#icons {
  padding: 10% 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 10px;
}

#icons img {
  height: 50px;
  width: 70%;
}

/* ==========================================================
AUCTION DIV
=========================================================== */
#auction {
  height: 200px;
  padding: 0 0 0 7%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: black;
}

#auction a {
  color: var(--color-grey);
}

/* ==========================================================
NFTS DIV
=========================================================== */

#nfts {
  padding: 0 0 0 7%;
  display: flex;
  flex-direction: column;
  height: 300px;
  flex-wrap: wrap;
  /* overflow: hidden; */
  column-gap: 20px;
}

#box1 {
  width: 230px;
  height: 300px;
  background-color: lightgray;
  background-image: url(./assets/ntfs/ntf-1.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  border-radius: 15px;
}

#box2 {
  width: 230px;
  height: 300px;
  background-color: lightgray;
  background-image: url(./assets/ntfs/nft-2.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  border-radius: 15px;
}

#box3 {
  width: 230px;
  height: 300px;
  background-color: lightgray;
  background-image: url(./assets/ntfs/ntf-3.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  border-radius: 15px;
}

#box4 {
  width: 230px;
  height: 300px;
  background-color: lightgray;
  background-image: url(./assets/ntfs/ntf-4.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  border-radius: 15px;
}
